<div class="feature-holder">
    <div class="feature_header wow slideInLeft">What we do?</div>
    <ul class="feature_point">
        <li class="wow slideInLeft" style="animation-delay: 0.2s;">We plan Himalayan and Maharashtrian treks</li>
        <li class="wow slideInLeft" style="animation-delay: 0.4s;">You can customize your trip</li>
        <li class="wow slideInLeft" style="animation-delay: 0.6s;">Solo traveller specialist</li>
        <li class="wow slideInLeft" style="animation-delay: 0.8s;">We even provide gears needed in trek</li>
    </ul>
    <div class="feature_header wow slideInLeft" style="animation-delay: 1s;">Upcoming trek</div>
    <ul class="feature_point">
        <li class="wow slideInLeft" style="animation-delay: 1.2s;">Hampta Pass</li>
        <li class="wow slideInLeft" style="animation-delay: 1.4s;">Sar pass</li>
        <li class="wow slideInLeft" style="animation-delay: 1.6s;">Manali snow trek</li>
        <li class="wow slideInLeft" style="animation-delay: 1.8s;">Harishchandragad</li>
        <li class="wow slideInLeft" style="animation-delay: 2s;">Harihar fort</li>
    </ul>
</div>