<div class="row">
    <img class="img-responsive" src="../../../../assets/Image/Article/HomeArticle.jpg" alt="">
</div>

<section class="row activity-section">
    <div class="activity-element col-sm-4">
        <img src="../../../assets/Image/Sunset/kunjapuri.jpg" alt="" class="wow slideInLeft">
        <h4 class="activity-topic">Sunset View</h4>
        <div class="activity-quote">"Every sunset is an opportunity to reset."</div>
        <div class="activity-author">― Richie Norton</div>
    </div>

    <div class="activity-element col-sm-4">
        <img src="../../../assets/Image/Food/Pasta - Paltan bazar (Dehradun).jpg" alt="" class="wow slideInLeft">
        <h4 class="activity-topic">Food Tour</h4>
        <div class="activity-quote">"There is no love sincerer than the love of food."</div>
        <div class="activity-author">― George Bernard Shaw</div>
    </div>
    <div class="activity-element col-sm-4">
        <img src="../../../assets/Image/Article/1.jpg" alt="" class="wow slideInLeft">
        <h4 class="activity-topic">Hiking and Trekking</h4>
        <div class="activity-quote">"It feels good to be lost in the right direction"</div>
        <div class="activity-author">― Unknown</div>
    </div>
</section>

<section class="row">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active slideImg">
                <img class="img-responsive" src="../../../assets/Image/Article/Sankri.jpg" alt="...">
                <div class="carousel-caption">
                    ...
                </div>
            </div>
            <div class="item slideImg">
                <img class="img-responsive" src="../../../assets/Image/Article/8.jpg" alt="...">
                <div class="carousel-caption">
                    ...
                </div>
            </div>
            <div class="item slideImg">
                <img class="img-responsive" src="../../../assets/Image/Article/Sankri.jpg" alt="...">
                <div class="carousel-caption">
                    ...
                </div>
            </div>
        </div>
        
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>