
<home-page-header></home-page-header>
<div class="container-fluid login-container">
    <div class="row">
        <div class="col-sm-4 about-us-Holder">
            <img src="../../../../assets/Image/Sunset/kunjapuri.jpg" alt="">
            <div class="about-us-header">Mission</div>
            <div class="about-us-content">
                Travelling is a group of professional mountain hikers to give you the 
                best experience of hiking activities in the mighty Himalayas. 
                We are here to full fill your travelling bucket list.
                We offer hiking activities at different levels, 
                from beginners to experienced hikers.
                We are very concerned about the safety of our clients.Our association with 
                the locals ensures that your travel connects you with the people and places you visit.
            </div>
        </div>
        <div class="col-sm-4 member-info-holder">
            <img src="../../../../assets/Image/Member/Saudagar1.jpg" alt="">
            <div>
                <span class="memeber-name">Saudagar Yadav</span>
                <span class="member-position">(Founder)</span>
            </div>
            <div class="member-contact-info">
                    <a href={{whatsappUrl}} target="_blank"><i class="fa fa-whatsapp whatsappIcon member-info-icon"></i></a>
                    <a href={{instragramUrl}} target="_blank"><i class="fa fa-instagram instragramIcon member-info-icon"></i></a>
                    <a href={{facebookUrl}} target="_blank"><i class="fa fa-facebook facebookIcon member-info-icon"></i></a>
            </div>
            <div class="member-details">"Saudagar is the head of this organization, 
                and has been doing treks for the past 4 years. 
                He graduated as an engineer and corporate offices never excited him as much as the great outdoors! 
                Nature, adventure and wildlife are the top things that get his heart racing. 
                He has done a few treks in the recent past - Kedarkantha and Hampta Pass"
            </div>
        </div>
        <div class="col-sm-4 about-us-Holder">
            <img src="../../../../assets/Image/About-us/vision.jpg" alt="">
            <div class="about-us-header">Vision</div>
            <div class="about-us-content">
                Travelling is a group of professional mountain hikers to give you the 
                best experience of hiking activities in the mighty Himalayas. 
                We are here to full fill your travelling bucket list.
                We offer hiking activities at different levels, 
                from beginners to experienced hikers.
                We are very concerned about the safety of our clients.Our association with 
                the locals ensures that your travel connects you with the people and places you visit.
            </div>
        </div>
    </div>
</div>
<footer class="container-fluid footer"><home-page-footer></home-page-footer></footer>


