.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #101010;
    color: white;
    text-align: center;
}


.member-info-holder{
    text-align: center;
    margin-top: 2rem;
    color: white;
}

.member-info-holder img{
    width: 24rem;
    height: auto;  
    border-radius: 50%;
}

.memeber-name{
    font-size: 2rem;
    font-weight: 700;
}
.member-position{
    color: #a7f307;
}

.member-details{
    text-align: justify;
    font-style: italic;
    padding-top: 1rem;
}

.member-info-icon{
    font-size: 2.5rem;
    margin-left: 2rem;
    font-weight: 900;
}

.about-us-Holder{
    margin-top: 2rem;
    text-align: center;
}

.about-us-header{
    font-weight: 800;
    font-size: 1.8em;
    text-transform: uppercase;
    color: white;
    text-align: center;
    padding-top: 2rem;
}

.about-us-content{
    margin-top: 2rem;
    text-align: justify;
    font-style: italic;
    color: white;
}

.about-us-Holder img, .info-user-holder img{
    width: 24rem;
    height: 24rem;  
    border-radius: 50%;
}

.info-user-holder{
    margin-top: 4rem;
}

.instagramHolder {
    border: 1px solid #ea5318;
    padding: 0.5rem;
    background-color: #ea5318;
    border-radius: 1rem;
}

.facebookHolder{
    border: 1px solid #3b5998;
    padding: 0.5rem;
    background-color: #3b5998;
    border-radius: 1rem;
}

.whatsappHolder{
    border: 1px solid #4FCE5D;
    padding: 0.5rem;
    background-color: #4FCE5D;
    border-radius: 1rem;
}

.icon{
    color: white;
    font-size: 2rem;
    vertical-align: top;
}

label{
    font-size: 1.4rem;
    padding-left: 0.5rem;
    color: white;
    cursor: pointer;
    vertical-align: middle;
}

a{
    padding: 1rem;
}

.memberNameHolder{
    padding-bottom: 1rem;
}